mat-card
  {
    
    width: 58%;
    margin-left: 17%;
    margin-top: 8%;
    margin-bottom: 31%;
    background-color: unset;
    padding: -3px;

  }


*:before,
*:after{
    content: '';
    position: absolute;

}
button{
    background: transparent;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 50px;
    padding: 13px 32px;
    font: 24px "Markgarine" cursive;
    transition: all 0.2s ease-in-out;
    position: relative;
    letter-spacing:2px;
    margin-left: 453px;
    margin-top: -69px;

}
button:hover{
    background-color: #3f51b5;
    color: #000;
    cursor: pointer;
}  
.button-hand{
    text-align: center;
}
.button-hand button:before{
    content: " 👇 ";
    font-size: 60px;
    transform: scaleX(-1);
    right: 0;
    top: -68px;
    animation:up-down 1s infinite;
} 
.button-hand button .hands:before,
.button-hand button .hands:after{
    content: " 👇 ";
    font-size: 40px;
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.button-hand button .hands:before{
    transform: rotate(-60deg);
    left: -45px;
    top: -10px;
}
.button-hand button .hands:after{
    transform: rotate(170deg);
    right: 30px;
    top: 50px;
}
.button-hand button:hover .hands:before{
    opacity: 1;
    left: -35px;
}
.button-hand button:hover .hands:after{
    opacity: 1;
    top: 40px;
}
@keyframes up-down{
    0%{
        margin-top: 0px;
    }
    50%{
        margin-top: -20px;
    }
    100%{
        margin-top: 0px;
    }
}
h3{
    color: white;
}