/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

label {
  font-size: 15px !important;
}

html, body { height: 100%; }
body { 
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/assets/data/mainimg.jpg");
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
 }
 mat-icon:hover{
 cursor: pointer;
 }
 .profileImage:hover{
  cursor: pointer;
}
.mat-toolbar-single-row {
  height: 40px !important;
}